<h1>Formulario Reactivo</h1>

<form [formGroup]="formularioUsuario" (ngSubmit)="agregarUsuario()">
    <div>
    <label for="">Nombre</label>
    <input type="text" formControlName="nombre" />
    <p *ngIf="formularioUsuario.get('nombre')?.touched && formularioUsuario.get('nombre')?.errors?.['required']">Este campo es requerido</p>
</div>

<div>
    <label for="">Correo</label>
    <input type="text" formControlName="correo" />
    <p *ngIf="formularioUsuario.get('correo')?.touched && formularioUsuario.get('correo')?.errors?.['required']">Este campo es requerido</p>
    <p *ngIf="formularioUsuario.get('correo')?.touched && formularioUsuario.get('correo')?.errors?.['pattern']">El formato no es correcto</p>
</div>

<div>
    <label for="">Contraseña</label>
    <input type="password" formControlName="contrasena" />
    <p *ngIf="formularioUsuario.get('contrasena')?.touched && formularioUsuario.get('contrasena')?.errors?.['required']">Este campo es requerido</p>
    <p *ngIf="formularioUsuario.get('contrasena')?.touched && formularioUsuario.get('contrasena')?.errors?.['minlength']">El formato no es correcto</p>
    <p *ngIf="formularioUsuario.get('contrasena')?.touched && formularioUsuario.get('contrasena')?.errors?.['pattern']">La contraseña debe tener al menos una mayuscula</p>

</div>

<div>
    <label for="">confirmar Contraseña</label>
    <input type="password" formControlName="contrasena2" />
    <p *ngIf="formularioUsuario.get('contrasena2')?.touched && formularioUsuario.get('contrasena2')?.errors?.['required']">Este campo es requerido</p>
    <p *ngIf="formularioUsuario.get('contrasena2')?.touched && formularioUsuario.get('contrasena2')?.errors?.['minlength']">El formato no es correcto</p>
    <p *ngIf="!contrasenasIguales"> Las contraseñas deben ser iguales</p>
    
</div>

<div>
    <label for="">Admin</label>
    <input type="checkbox" formControlName="admin"/>

</div>

<button type="submit" [disabled]="formularioUsuario.invalid">Agregar usuario</button>

</form>

