.titulo{
    text-align: center;
    font-size: 40px;
    
    margin-top: 30px;
    margin-bottom: 30px;
}

.marg{
    margin: 5px;
}
.fondoc{
    background-color: gainsboro;
}
.us{
 text-align: center;
}