.column{
    margin: 5px;
   }
   .tam{
       width: 100%;
   }
   .boton{
       
   margin-bottom: 5px;
   text-align: center;
   }
   .txtrojo{
       color: red;
   }
   .fondo{
       background-color: rgb(196, 194, 194);
   }
   .mgn{
       margin-top: 5px;
       margin-bottom: 2px;
   }
   .titulo{
    text-align: center;
    font-size: 40px;
    
    margin-top: 30px;
    margin-bottom: 20px;
}
.combo{
    width: 100px;
    
    margin-left:  45%;
    margin-bottom: 10px;
}